.bg-blue-purple {
    background: rgb(110, 165, 246);
    background: linear-gradient(163deg, rgba(110, 165, 246, 1) 0%, rgba(210, 77, 254, 1) 100%);
}

.w-fit {
    width: fit-content;
}

.navbar-brand {
    font-size: 11pt;
}

.bg-white-07 {
    background-color: rgba($color: white, $alpha: .7);
}

.bg-white-05 {
    background-color: rgba($color: white, $alpha: .5);
}

.shadow {
    box-shadow: 0 0 5px 0 lightgrey !important;
}